@model HataBildirimSistemi.Models.Admin
@{
    ViewBag.Title = "Duzenle";
    Layout = "~/Views/Shared/_LayoutBirimAdmin.cshtml";
}

<h2>Profil Bilgilerini Düzenle</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.Ad)
        @Html.TextBoxFor(m => m.Ad, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Ad, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Soyad)
        @Html.TextBoxFor(m => m.Soyad, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Soyad, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.TelNo)
        @Html.TextBoxFor(m => m.TelNo, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.TelNo, "", new { @class = "text-danger" })
    </div>

    <!-- Kullanıcı Adı -->
    <div class="form-group">
        @Html.LabelFor(m => m.AKullaniciAd)
        @Html.TextBoxFor(m => m.AKullaniciAd, new { @class = "form-control", placeholder = "Kullanıcı Adı" })
        @Html.ValidationMessageFor(m => m.AKullaniciAd, "Kullanıcı adı @akdeniz.edu.tr ile bitmelidir.", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ASifre)
        @Html.PasswordFor(m => m.ASifre, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ASifre, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
    <a href="@Url.Action("BAProfil", "BirimAdmin")" class="btn btn-secondary">İptal</a>
}
