@model HataBildirimSistemi.Models.Kullanici
@{
    ViewBag.Title = "Duzenle";
    Layout = "~/Views/Shared/_LayoutKullanici.cshtml";
}

<h2>Profil Bilgilerini Düzenle</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.Ad)
        @Html.TextBoxFor(m => m.Ad, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Soyad)
        @Html.TextBoxFor(m => m.Soyad, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.TelNo)
        @Html.TextBoxFor(m => m.TelNo, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.KSifre)
        @Html.PasswordFor(m => m.KSifre, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
    <a href="@Url.Action("Profil", "Kullanici")" class="btn btn-secondary">İptal</a>
}