
@model HataBildirimSistemi.Models.AdminPanelViewModel
@{
    ViewBag.Title = "YetkiliServisEkle";
    Layout = "~/Views/Shared/_LayoutGenelAdmin.cshtml";
}

<h2>Genel Admin Yetkili Servis Atama</h2>

<h3>Yetkili Servis Ekle</h3>
@using (Html.BeginForm("YetkiliServisEkle", "GenelAdmin", FormMethod.Post))
{
    <label>Ad:</label> @Html.TextBox("Ad")//max 50 hane olacak
    <br />
    <label>Soyad:</label> @Html.TextBox("Soyad")//max 50 hane olacak
    <br />
    <label>Tel No:</label> @Html.TextBox("TelNo")//max 11 hane olacak
    <br />
    <label>Mail:</label> @Html.TextBox("Mail")//max 35 hane olacak
    <br />
    <label>Kullanıcı Adı:</label> @Html.TextBox("YKullaniciAd")//max 20 hane olacak
    <br />
    <label>Şifre:</label> @Html.Password("YSifre")//max 20 hane olacak
    <br />
    <label>Arıza Türü:</label>
    @Html.DropDownList("ArizaTurId", new SelectList(Model.ArizaTurleri, "Id", "Ad"))
    <br />
    <br />
    <input type="submit" value="Ekle" />
}

